<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="file:///Users/miaki/Desktop/BBC/templates/css/style.css">
</head>
<body>
    
        <header>
            <nav>
                <ul>
                    <li class="bbc"><img src="ASSETS\bbc.png" class="bbc1"></li>
                    <li class="signin"><img src="BBC\BBC-ASSETS\signin.png" alt="signin" class="signin1"><a href="sign-in page.com">Sign In</a></li>
                    <li><a href="homepage.com">Home</a></li>
                    <li><a href="newspage.com">News</a></li>
                    <li><a href="sportspage.com">Sport</a></li>
                    <li><a href="reelpage.com">Reel</a></li>
                    <li><a href="worklifepage.com">Worklife</a></li>
                    <li><a href="travelpage.com">Travel</a></li>
                    <li><a href="futurepage.com">Future</a></li>
                    <li><a href="culturepage.com">Culture</a></li>
                    <li>More</li>
                    <li class="search"><form class="search1">
                    <label for="search" name="search"></label>
                    <input class="search" type="text" placeholder="Search ⌕">
                    </form></li>
                </ul>
            </nav>  
        </header>
            <section>
                    <section class="container">
                            <aside>
                                   <h4 class="header4">Welcome to BBC.com</h4>
                                    <h4 class="calender">Thursday, 13th August</h4>
                            </aside>
                            <section class="headnews">
                                    <div>
                                            <h2>Israel and UAE strike historic peace deal</h2>
                                            <p>Israel and UAE agree to normalise relations marking the 3rd Israel-Arab peace deal.</p>
                                            <h6><a href="middleeast.com">EAST</a></h6>
                                    </div>
                            </section>
                            <section class="flag four canada">
                                    <div class="four2">
                                            <p>Americans, go home:Tension at Canada-US border</p>
                                            <h6><a href=" fourcanda.com">CANADA</a></h6>
                                    </div>
                            </section>
                            <section class="health four canada">
                                    <div class="four2">
                                            <p>How will the world vaccinate seven billion people?</p>
                                            <h6><a href="health.com">HEALTH</a></h6>
                                    </div>
                            </section>
                            <section class="productivity four canada">
                                    <div class="four2">
                                            <p>The online productivity gyms</p>
                                            <h6><a href="worldlife.com">WORLDLIFE</a></h6>
                                    </div>
                            </section>
                            <section class="victor four canada">
                                    <div class="four2">
                                            <p>The folk singer murdered for his music</p> 
                                            <h6><a href="culture.com">CULTURE</a></h6>
                                    </div>
                            </section>
                    </section>         
            </section>
            <section class="new2">
                    <span class="h2">News</span>
                    <section class="news">
                            
                            <section class="biden">
                                    
                                            <img src="C:/Users/airsay/Desktop/BBC/BBC-ASSETS/biden-harris.jpg" alt="" class="biden2">
                                            <h2>Biden and Haris say trump has left the US"in tatters"</h2>
                                            <p>Jon Biden and running mate Kamala Haris call President Donald Trump a "whinning" incompetent leader</p>
                                            <span><a href="us elections.com">US ELECTIONS 2020</a></span>
                                            
                            </section>
                            <section class="belarus">
                                    <img src="C:\Users\airsay\Desktop\BBC\BBC-ASSETS\belarus.jpg" alt="" class="belarus2">
                                    <h2>Women form "Solidarity chains" in Belarus protest</h2>
                                    <p>Women takes to the streeets of Minsk dressed in white as they demand an end in police brutality</p>
                                    <span><a href="europe.com">EUROPE</a></span>
                            </section>
                            <section class="trump">
                                    <img src="C:\Users\airsay\Desktop\BBC\BBC-ASSETS\trump.jpg" alt="" class="trump2">
                                    <h2>Trump says low pressure shower heads wont wash</h2>
                                    <p>The us calls for rules to be eased after Donald Trump complained of issues washing his hair.</p>
                                    <span><a href="us and canada.com">US &amp; CANADA</a></span>
                            </section>        
                    </section>
            </section>
    
    
        <script type="text/javascript" src="js/main.js"></script>
</body>
</html>